.dropdown {
  width: 100%;
  margin-top: 4px;
  
  &__select {
    width: 100%;
    border: 1px solid $color-icons;
    border-radius: 8px;
    color: $color-primary;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    padding-block: 10px 9px;
    padding-left: 12px;
    background-color: $color-hover-bg;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background-image: url('../../assets/icons/Arrow-down.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 12px) center;;
    background-size: 16px 16px;
  }

  &__title {
    color: $color-secondary;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
  }
}
