@import '../../styles/mixins.scss';

.favorites { 
  grid-column: 1 / -1;

  &__header {
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 56px; 
    letter-spacing: -0.01em;
  }

  &__grid {
    @include pageGrid;
    grid-row-gap: 40px;
    margin: 0;
  }

  &__card {
    grid-column: span 6;

    @include onMobile {
      grid-column: span 4;
    }
  }
}
