.container {
  display: flex;
  justify-content: space-between;
  height: 48px;

  @media (min-width: 1200px) {
    height: 64px;
  }

  &__left {
    display: flex;
  }

  &__logo {
    margin: 0px;
    padding: 0px;
  }

  &__logo-img {
    margin: 0px 48px;
    margin-top: 10px;
    width: 64px;
    height: 22px;
    line-height: 22px;

    @media (min-width: 760px) {
      width: 80px;
      height: 28px;
      margin-top: 16px;
    }
  }
}
