.icon {
  display: flex;
  justify-content: center;

  &__logo-img {
    margin-top: 16px;

    @media (min-width: 760px) {
      margin-top: 24px;
    }
  }

  &__left {
    display: flex;
    justify-content: center;
    width: 64px;
    height: 64px;
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 1px;
      height: 100%;
      background-color: #89939A;
    }
    &::before {
      left: -1px;
    }

    &::after {
      right: -1px;
    }

    @media (max-width: 760px) {
      display: none;
    }
  }

  &__burger {
    display: flex;
    justify-content: center;
    width: 48px;
    height: 48px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 1px;
      height: 100%;
      background-color: #89939A;
    }
    &::before {
      left: -1px;
    }

    @media (min-width: 760px) {
      display: none;
    }
  }

  &__right {
    display: flex;
    justify-content: center;
    width: 64px;
    height: 64px;

    @media (max-width: 760px) {
      display: none;
    }
  }
}
