.category {
  display: block;
  margin-top: 24px;
  transition: all 0.3s ease;
  grid-column: span 4;

  &__image {
    max-width: 368px;
    max-height: 386px;
    display: block;
    transition: all 0.3s ease;
    border-radius: 8px;

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      margin: 0 auto;
      display: block;
    }

    &:hover {
      transform: translate(-8px, -8px);
      box-shadow: 3px 2px 6px;
      border-radius: 12px;
    }

    @include onTablet {
      max-width: 187px;
      max-height: 187px;
    }

    @include onTablet {
      max-width: 288px;
      max-height: 288px;
    }

  }

  &__title {
    margin-top: 24px;
    display: block;
    transition: all 0.3s ease;
    font-size: 20px;
    font-weight: 700;

    &:hover {
      color: $color-white;
      text-shadow: 3px 1px 3.5px $color-primary;
    }
  }

  &__products-amount {
    color: $color-secondary;
    font-weight: 500;
    font-family: "Mont";
  }
}
