$color-accent: #216CFF;
$color-secondary-accent: #F447AF;

$color-primary: #0F0F11;
$color-secondary: #89939A;
$color-icons: #B4BDC3;
$color-elements: #E2E6E9;
$color-hover-bg: #FAFBFC;

$color-white: #FFFFFF;
$color-green: #27AE60;
$color-red: #EB5757;

