.burger {
  box-sizing: border-box;
  height: 100vh;
  overflow: auto;

  &__top {
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
  }

  &__bottom {
    display: flex;
    justify-content: center;
    border-top: solid black 1px;
  }
}

.burger--closed {
  display: none;
}
