.footer {
  max-width: $large-screen-resolution;
  margin: 0 auto;

  &__content {
    padding: 32px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1136px;
    margin: 0 auto;

    @media (max-width: 576px) {
      flex-direction: column;
      gap: 32px;
      align-items: flex-start;
      margin: 0 auto;
      max-width: 1136px;
  
      & > :nth-child(3) {
        align-self: center;
      }
    }
  
    @include onTablet {
      padding-inline: 24px;
    }
  
    @include onMobile {
      margin: 0 16px;
    }
  }

  &__nav {
    &-list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 379px;
      list-style: none;

      @media (max-width: 768px) {
        width: 40vw;
      }
    }

    &-link {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: $color-secondary;
      font-family: Mont;
      font-size: 12px;
      font-weight: 800;
      letter-spacing: 0.48px;
      text-transform: uppercase;
      transition: 0.3s;

      &:hover {
        color: $color-primary;
      }
    }

    @media (max-width: 576px) {
      &-list {
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: flex-start;
        max-width: 288px;
      }
    }
  }

  &__button {
    background-color: $color-white;
    width: 118px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    transition: 0.3s;
    cursor: pointer;

    svg {
      display: flex;
      justify-content: center;
      align-items: center;
      transform: rotate(-90deg);
    }

    &:hover > &__content {
      color: $color-primary;
    }

    &:hover svg rect {
      transition: 0.3s;
      stroke: $color-primary;
    }

    &-content {
      color: $color-secondary;
      text-align: center;
      font-family: 'Mont';
      font-size: 12px;
      font-weight: 700;
      transition: 0.3s;
    }

    &-icon {
      width: 31px;
      height: 31px;
      border-color: black;
    }
  }

  @media (min-width: $large-screen-resolution) {
    border-inline: 1px solid $color-secondary;
  }

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: $color-secondary;
  }
}

.logo {
  display: block;
  width: 89px;
  height: 32px;

  img {
    width: 100%;
    height: 100%;
  }
}
