iframe {
  display: none;
}

* {
  font-family: 'Mont', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  box-sizing: border-box;
  max-width: 1136px;

  @include pageGrid;

  @include onTablet {
    max-width: 592px;
  }

  @include onMobile {
    max-width: 288px;
  }
}
