@import './styles/variables';
@import './styles/fonts';

@import './App.scss';
@import './components/Header/Header.scss';
@import './pages/NotFoundPage/NotFoundPage.scss';
@import './components/Footer/Footer.scss';
@import './components/CardItem/CardItem.scss';
@import './components/Button/Button.scss';
@import './pages/HomePage/—Åomponents/Banner/Banner.scss';
